Body 
{ background-color:#FDDFDF;}


h1 
{ 
  text-align: center;
  font-style: bold;
  color: #4F9EC4;
  width: 50%;
  margin-left: 10%;
  border-bottom: 3px dotted 
}

h2 
{
  color:#4F9EC4; 
}
.love
{
  color:#FDDFDF; 
}

.fear
{
  color: #FDDFDF; 
}

.fun
{
  color:#FDDFDF; 
}
